boto3
bs4
celery
django
django-celery-beat
django-enumfield
django-jazzmin
djangorestframework
drf-spectacular[sidecar]
flower
lxml
Pillow
psycopg2-binary
pytest-cov
pytest-django
pytest-mock
redis
requests